body {
    font-size: 20px;
}

.tree {
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.tree span:hover {
    text-decoration: underline;
    cursor: pointer;
}